header{
    background: #303030;
    color: #ffffff;
}

.categories{
    background: #ffffff;
    color:#000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.categories li a{
    text-decoration: none;
    color: #000000;
}

.list-cat{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}